
@{
    ViewBag.Title = "Hesap Aktifleştirildi";
}

<link href="~/Content/Login-RegisterStyle.css" rel="stylesheet" />


    <div class="logreg">
        <main class="form-signin">
            <form>
                <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Yönlendiriliyorsunuz...</h1>

                <div class="text-success">
                    <h2>
                        <span> Hesap Aktifleştirildi.</span>
                    </h2>
                    <hr />
                    <p class="text-justify">
                        Hesabınızı artık kullanabilirsiniz.
                    </p>
                </div>
            </form>
        </main>
    </div>




<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript">

    //Jquery örneği
    $(document).ready(function () {
        $("footer").hide();
        $("header").hide();
        $("#category1").hide();
        $("#category3").addClass("col-md-12").removeClass("col-md-10");
        setTimeout(function () {
            window.location = "/Home/Index";
        }, 3000);
    });
</script>


